.view-balance-container {
  max-width: 1110px;
  margin: 0px auto;
}

.user-data-container {
  padding: 40px;
  margin: 50px auto;
  border-radius: 4px;
  background-color: white;
  width: 50%;
}

.user-data-row {
  display: flex;
  margin: 10px 0px;
}

@media screen and (max-width: 767px) {
  .user-data-container {
    width: 70%;
  }
  .user-data-row {
    flex-direction: column;
  }
}

.user-details-title {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.data-label {
  margin-right: 5px;
  min-width: 200px;
}

.data-value {
  color: #ea4c88;
}
